# .gitignore for Grails 1.2

# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*

# default HSQL database files for production mode
/prodDb.*

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
# keep around as de facto release location
#/*.zip

# temporary? build files
/target

# unused grails junk
/grails-app/i18n/
/web-app/images/
/web-app/css/errors.css
/web-app/css/main.css
/web-app/css/mobile.css
/web-app/js/application.js
