<plugin name='domain-helptips' version='2.0' grailsVersion='2.3.7 &gt; *'>
  <author>John J. Allison</author>
  <authorEmail>jja@sinequanon.net</authorEmail>
  <title>Domain-oriented dynamic helptips</title>
  <description>\
Dynamically add helptips to Grails views based on domain properties.
Tips are user-editable.
Inspired by/based on Grails plugin dynamic-help
</description>
  <documentation>https://github.com/jja/domain-helptips/blob/master/README</documentation>
  <type>DomainHelptipsGrailsPlugin</type>
  <resources>
    <resource>HelptipsBootStrap</resource>
    <resource>helptips.HelptipController</resource>
    <resource>helptips.Helptip</resource>
    <resource>helptips.HelptipTagLib</resource>
  </resources>
</plugin>