<plugin name='domain-helptips' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>John J. Allison</author>
  <authorEmail>jja@sinequanon.net</authorEmail>
  <title>Domain-oriented dynamic helptips</title>
  <description>\
Dynamically add helptips to Grails views based on domain properties.
Tips are user-editable.
Inspired by/based on Grails plugin dynamic-help
</description>
  <documentation>https://github.com/jja/domain-helptips/blob/master/README</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>HelptipsBootStrap</resource>
    <resource>UrlMappings</resource>
    <resource>helptips.HelptipController</resource>
    <resource>helptips.Helptip</resource>
    <resource>helptips.HelptipTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>